header {
    height: 150px;
        background-color: #1e1e1e;
        
}

body {
    background-color: #1e1e1e;

}
.card {
    /* border: 5px solid red; */
    color: lightgray;
    background-color: rgb(9, 9, 9);
    margin: 10px;
}


.middle {
    text-align: center;
    /* border: 5px solid red */
}

h1 {
    font-size: 3em;
    color: darkgray;

}

h6 {
    font-size: 30px;
    color: darkgray;

}

p {
    color: darkgrey;
    text-align: center;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 150px;
}
